body {
	font-family: sans-serif;
}
.headers {
	color: #670202;
}
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #E3F0FB;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
#example {
	padding: 5px;
	background-color: #5AE8BE;
}
#eventing {
	padding: 5px;
	background-color: #5AC4E8;
}
#testDiv {
    position:relative;
    width: 150px;
    height: 100px;
    margin: 10px;
    background: #b3c8d0;
    font-size: 16pt;
    cursor: pointer;
}
#travers {
    margin-bottom: 2em;
}
#quotesInImgs {
    text-align: center;
}
#quotesInImgs img {
	margin: 0.313em 0.313em;
	width: 300px;
}
.space {
	margin: 1.625em 0;
	background: #ccc;
	border: 3px dashed #3d3d3d;
}
.pClass {
    color: green;
    text-transform: uppercase;
}
#posit {
	background: #FFD8C4;
	padding: 2em 4em;
}
.highlighting {
    background-color: #e40000;
}
.highlighted {
	background: blue;
}
.bind_box {
	padding: 1em;
}
.smallbox {
	background: #eaeaea;
	color: #3d3d3d;
	padding: 0.438em;
}
.inline {
	display: inline;
}
.inputdiv {
    margin-top: 1em;
}