body {
	font-family: Arial, Helvetica, sans-serif;
	color: #3d3d3f;
}
.headers {
	font-weight: bold;
	color: #670202;
}
#mainContent {
	background-color: #E3F0FB;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
#example {
	padding: 5px;
	background-color: #5AE8BE;
}
#eventing {
	padding: 15px;
	background-color: #5AC4E8;
}
#testDiv {
    position:relative;
    width: 150px;
    height: 100px;
    margin: 10px;
    background: #b3c8d0;
    font-size: 16pt;
    cursor: pointer;
}
#travers {
    margin-bottom: 2em;
}
#quotesInImgs img {
	margin: 0.313em 0.313em;
}
#quotesInImgs .fir img {
	width: 168px;
}
#quotesInImgs .sec img {
	width: 200px;
}
#quotesInImgs .thir img {
	width: 214px;
}
#quotesInImgs .fou img {
	width: 220px;
}
.space {
	margin: 1.625em 0;
	background: #ccc;
	border: 3px dashed #3d3d3d;
}
.pClass {
    color: green;
    text-transform: uppercase;
}
#posit {
	background: #FFD8C4;
	padding: 2em 4em;
	margin-bottom: 0.625em;
}
.highlighting {
    background-color: #e40000;
}
.highlighted {
	background-color: blue;
}
.bind_box {
	padding: 1em;
}
.smallbox {
	background: #eaeaea;
	color: #3d3d3d;
	padding: 0.438em;
}
.inline {
	display: inline;
}
.inputdiv {
    margin-top: 1em;
}
#createCntdiv p {
	border: 0;
}
button {
	padding: 10px;
	background: blue;
	color: white;
	border: orange;
	border-radius: 6px;
}
.pressedkey {
	color: black;
}
#imgholder div img {
   	height: auto;
    width: 100%; 
}
#imgholder {
	height: 48.000em;
}
#imgholder div {
    position:absolute;
    z-index: 0;
}
#imgholder .previous {
    z-index: 1;
}
#imgholder .current {
    z-index: 2;
}
